/* pod_racing.css */

body {
    font-family: 'Miama', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h2, h3 {
    margin: 5px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #007bff;
}

main {
    padding: 20px;
}

h1 {
    color: #007bff;
}

article {
    margin-top: 20px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}